<footer id="footer" class="wow fadeIn">
        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html"><span>文档代码化开发</span>高级研修班</a>
                        </div>
                        <!--/ End Logo -->
                        <!-- Social -->
                        <ul class="social">
                            <li class="active"><a href="#"><i class="fa fa-wechat"></i></a></li>
                            <li><a href="tel:01068481976"><i class="fa fa-phone"></i></a></li>
                            <li><a href="#"><i class="fa fa-weibo"></i></a></li>
                        </ul>
                        <!--/ End Social -->
                        <!-- Menu -->
                        <ul class="nav">
                            <li><a href="{{ '/' | prepend: site.baseurl }}">主页</a></li>
                            <li><a href="#location">联系我们</a></li>
                        </ul>
                        <!--/ End Menu -->
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Top -->

        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="text">
                            <p>&copy; Copyright 中国标准化协会</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Copyright -->
    </footer>