<footer id="footer" class="wow fadeIn">
        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 ">
                                <ul class="nav">
                                <li><a href="{{ '/' | prepend: site.baseurl }}">研修班主页</a></li>
                                <li><a href="{{ '/categories/' | prepend: site.baseurl }}">查看博客</a></li>
                                </ul>
                            </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 ">
                        <ul class="nav">
                            <li><a href=#>电话:&nbsp&nbsp 010-68481976 刘璐</a></li>
                            <li><a href=# >邮箱:&nbsp&nbsp ll@china-cas.org</a></li>
                            <li><a href=# >扫描二维码报名</a></li>
                        </ul>
                    </div>
                    
                    <div class="col-md-4 col-sm-4 col-xs-4 ">
                        <img style="height:90px;" src="{{ '/assets/images/signin.jpeg' | prepend: site.baseurl}}">
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Top -->

        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="text">
                            <p>&copy; Copyright 中国标准化协会</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Copyright -->
    </footer>